doctype html
html(lang="nl")
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js')
    meta(charset='utf-8')
    block title
      title Geo4Web
    block jsonld
  body
    .content
      block content 
