doctype html
html(lang="nl")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1')
    block title
      title Geo4Web
    block style
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css')
    block script
      script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js')
    block jsonld
  body
    .content.container
      block content
  block footer
