doctype html
html(lang="nl")
  head
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    meta(charset='utf-8')
    block title
      title Geo4Web
    block jsonld
  body
    .content
      block content 
