extends _layout

block vars
  - var title = 'Geo4Web Topic 3'

block content
  div.row
    p
      :markdown
        This is the index page of the Geo4Web Topic 3 research page. 
        The URIs below are meant to test different URI strategies for the Dutch 
        municipality of Amersfoort. More information about these URI strategies
        can be found on our Wiki: [https://github.com/geo4web-testbed/topic3/wiki/URI-Strategy](https://github.com/geo4web-testbed/topic3/wiki/URI-Strategy).
    hr
    ul
      each municipality in data.municipalities
        li
          a(href=municipality._id)=municipality.sort
