extends _layout

block vars
  - var title = 'Geo4Web Topic 3'

block content
  div.row
    p
      :markdown
        This is the index page of the Geo4Web Topic 3 research page. 
        The URIs below are meant to test different URI strategies for the Dutch 
        municipality of Amersfoort. More information about these URI strategies
        can be found on our Wiki: [https://github.com/geo4web-testbed/topic3/wiki/URI-Strategy](https://github.com/geo4web-testbed/topic3/wiki/URI-Strategy).
    table.table
      thead
        tr
          th(colspan='3') DBPedia URIs
      tbody
        tr
          td.left-column Municipality
          td
            a(href='/page/Leeuwarden_(gemeente)') https://geo4web.apiwise.nl/page/Leeuwarden_(gemeente)
        tr
          td.left-column Quarter
          td
            a(href='/page/Wijk_10_Binnenstad,_Leeuwarden_(wijk)') https://geo4web.apiwise.nl/page/Wijk_10_Binnenstad,_Leeuwarden_(wijk)
        tr
          td.left-column Neighbourhood
          td
            a(href='/page/Blokhuisplein,_Leeuwarden_(buurt)') https://geo4web.apiwise.nl/page/Blokhuisplein,_Leeuwarden_(buurt)
    table.table
      thead
        tr
          th(colspan='3') Hierarchical URIs
      tbody
        tr
          td.left-column Municipality
          td
            a(href='/Kampen') https://geo4web.apiwise.nl/Kampen
        tr
          td.left-column Quarter
          td
            a(href='/Kampen/Wijk_03_IJsselmuiden') https://geo4web.apiwise.nl/Kampen/Wijk_03_IJsselmuiden
        tr
          td.left-column Neighbourhood
          td
            a(href='/Kampen/Wijk_03_IJsselmuiden/Oosterholt') https://geo4web.apiwise.nl/Kampen/Wijk_03_IJsselmuiden/Oosterholt
    table.table
      thead
        tr
          th(colspan='3') RESTful URIs
      tbody
        tr
          td.left-column Municipality
          td
            a(href='/gemeente/GM0307') https://geo4web.apiwise.nl/gemeente/GM0307
        tr
          td.left-column Quarter
          td
            a(href='/wijk/WK030714') https://geo4web.apiwise.nl/wijk/WK030714
        tr
          td.left-column Neighbourhood
          td
            a(href='/buurt/BU03071400') https://geo4web.apiwise.nl/buurt/BU03071400
    table.table
      thead
        tr
          th(colspan='3') Dutch Linked Data URI Strategy
      tbody
        tr
          td.left-column Municipality
          td
            a(href='/doc/gemeente/GM0153') https://geo4web.apiwise.nl/doc/gemeente/GM0153
        tr
          td.left-column Quarter
          td
            a(href='/doc/wijk/WK015300') https://geo4web.apiwise.nl/doc/wijk/WK015300
        tr
          td.left-column Neighbourhood
          td
            a(href='/doc/buurt/BU01530004') https://geo4web.apiwise.nl/doc/buurt/BU01530004
    table.table
      thead
        tr
          th(colspan='3') Unstructured URIs
      tbody
        tr
          td.left-column Municipality
          td
            a(href='/unstructured/eyJpZCI6IkdNMDAxNCIsInR5cGUiOiJnZW1lZW50ZSJ9') https://geo4web.apiwise.nl/unstructured/eyJpZCI6IkdNMDAxNCIsInR5cGUiOiJnZW1lZW50ZSJ9
        tr
          td.left-column Quarter
          td
            a(href='/unstructured/eyJpZCI6IldLMDAxNDA1IiwidHlwZSI6IndpamsifQ==') https://geo4web.apiwise.nl/unstructured/eyJpZCI6IldLMDAxNDA1IiwidHlwZSI6IndpamsifQ==
        tr
          td.left-column Neighbourhood
          td
            a(href='/unstructured/eyJpZCI6IkJVMDAxNDA1MTEiLCJ0eXBlIjoiYnV1cnQifQ==') https://geo4web.apiwise.nl/unstructured/eyJpZCI6IkJVMDAxNDA1MTEiLCJ0eXBlIjoiYnV1cnQifQ==
