extends _layout

block vars
  - var title = 'Landcover data - Bestemmingsplangebieden - Pagina ' + data.currentPage

block content
  div.row
    p
      :markdown
        Bestemmingsplangebieden
    hr
    ul
      each area in data.areas
        li
          a(href='bestemmingsplangebieden/' + area._id.replace('https://geo4web.apiwise.nl/doc/bestemmingsplangebied/', ''))=area._source._self_name
    nav
      ul.pagination
        - for(var page = 1; page <= data.numPages; ++page)
          li
            a(href='bestemmingsplangebieden?page='+page)= page
