extends _layout

block vars
  - var title = 'Landcover data - Bestemmingsplangebieden - Pagina ' + data.currentPage

block content
  div.row
    p
      :markdown
        Bestemmingsplangebieden
    hr
    ul
      each area in data.areas
        li
          a(href=area._id)=area._source._self_name
    nav
      ul.pagination
        - for(var page = 1; page <= data.numPages; ++page)
          li
            a(href='/landcover/bestemmingsplangebied?page='+page)= page
